* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}

body {
    background-color: rgb(247, 247, 247);
}

.container {
    font-size: 0;
    min-width: 1200px;
    width: 100%;
    margin: 0 auto;
    /* border:1px solid green; */
}

div.breadcrumb {
    margin-top: 170px;
    /* border:3px solid red; */
    font-size: 0;
    padding-bottom: 50px;
}

.breadcrumb>ol {
    font-size: 22px;
    /* border:3px solid rgb(23, 10, 205); */
    margin: 0 auto;
    width: 1200px;
    display: flex;
}

div.breadcrumb ol.breadcrumb_list {
    /* margin: 0;
  padding: 0; */
    list-style: none;
}

div.breadcrumb ol.breadcrumb_list>li {
    display: inline-block;
    margin-right: 10px;
}

/* 利用 ::before 擬似元素，創造斜線做為分隔 */
div.breadcrumb ol.breadcrumb_list>li::before {
    content: ">";
    font-size: 18px;
    color: rgb(28, 26, 26);
    margin-right: 12px;
}

/* 第一個 li 元素，將 ::before 設定回來需要的 */
div.breadcrumb ol.breadcrumb_list>li:first-child::before {
    content: "";
    margin-right: 0;
}

/* 基本文字樣式 */
div.breadcrumb ol.breadcrumb_list>li>a {
    text-decoration: none;
    display: inline-block;
    color: #1d1d1d;
    padding: 5px;
}

div.breadcrumb ol.breadcrumb_list>li:nth-child(2) a {
    display: inline-block;
    /* font-weight: bolder; */
    color: rgb(255, 255, 255);
    background-color: rgb(129, 191, 188);
    /* text-shadow: 1px 1px 0px rgb(124, 124, 124); */
}

/* 滑動移過後文字增加陰影 */
div.breadcrumb ol.breadcrumb_list>li>a:hover {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.467);
}

/* 資料內容開始 */
.menu {
    font-size: 25px;
    /* border: 1px solid red; */
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.menu ul {
    width: 1200px;
    margin: 0 auto;
    /* border: 1px solid rgb(1, 97, 223); */
    display: flex;
    justify-content: center;
}

.menu ul li a {
    color: #1d1d1d;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto 10px;
    position: relative;
}

.menu a::after {
    content: '|';
    display: inline-block;
    position: absolute;
    top: -3px;
    left: -15px;
    pointer-events: none;
    color: rgb(50, 50, 50);
}

.menu ul li:nth-child(1) a::after {
    content: '';
}

/* .menu ul li:nth-child(5) a::before{
    content: '|';
    display: inline-block;
    position: absolute;
    top: -3px;
    right:-15px;
    pointer-events:none;
    color:rgb(50, 50, 50);
    transform: translate(130px,-10px);
  } */

li.list a::before {
    content: '';
    display: block;
    width: 0%;
    height: 3px;
    background-color: rgb(129, 191, 188);
    transition: .3s .1s;
    /*線延展的時間,線延遲出現的時間*/
    /* margin: auto; 線重中間展開 */
    margin-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translate(0px, -10px);
}

/*摸到a標籤連結，後面底線出現*/
li.list a:hover::before {
    width: 100%;
    height: 30px;
}

ul a:hover {
    color: rgb(129, 191, 188);
    transition: .1s;
    /* text-shadow: none; */
    text-shadow: 1px 1px 0px rgba(58, 58, 58, 0.493);
}

li.list a:hover {
    color: rgb(255, 255, 255);
}



h3 {
    font-size: 30px;
    font-weight: 500;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
    /* border: 1px solid rgb(1, 97, 223); */
}

.content {
    font-weight: 500;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
    /* border: 1px solid rgb(255, 0, 255); */
}

.content .item {
    font-size: 0px;
    width: 100%;
    display: flex;
    /* border: 1px solid rgb(3, 255, 242); */
    margin-bottom: 30px;
    background-color: rgb(255, 255, 255);
}

.content .item .text {
    padding: 25px 10px 0 20px;
    width: 600px;
}

.content .item .text p.date {
    font-weight: 400;
    font-size: 25px;
}

.content .item .text p.date::after {
    content: '';
    width: 180px;
    height: .5px;
    background-color: rgba(10, 10, 10, 0.644);
    display: block;
    margin-top: 8px;
}

.content .item .text h4 {
    font-weight: 500;
    padding-top: 20px;
    font-size: 30px;
    line-height: 1.8em;
    color: #1d1d1d;
}

.content .item .text .heart {
    display: flex;
    padding-top: 60px;
    padding-left: 480px;
}

/* 愛心 */

.content .item .text .heart i {
    color: rgb(56, 56, 56);
    font-size: 25px;
    padding-right: 10px;
}

.content .item .text .heart i.active {
    color: rgb(255, 79, 132);
}

.content .item .text .heart i:hover{
    cursor:pointer
}

.content .item .text .heart p {
    font-size: 25px;
    font-weight: 600;
}

.content .item .pic {
    /* border: 1px solid blue; */
    width: 600px;
}

.content .item .pic img {
    max-width: 100%;
}

/* 資料內容結束 */


/* 頁碼開始 */
.pagenum {
    font-size: 20px;
    width: 1200px;
    /* border:1px solid red; */
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.pagenum>ul {
    display: flex;
    margin: auto;
    justify-content: center;

}

.pagenum>ul>li {
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 0 8px;
    background-color: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    line-height: 2em;
    text-align: center;
}

.pagenum>ul>li>a {
    padding: 10px;
    color: #1d1d1d;

}

.pagenum>ul>li:first-child,
.pagenum>ul>li:last-child {
    border: none;
    background-color: rgb(247, 247, 247);
    width: 100px;
    height: 40px;
    /* border:1px solid rgba(0, 0, 0, 0.589); */

}

/* 頁碼結束 */