* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}

body {
    background-color: rgb(247, 247, 247);
}

.container {
    font-size: 0;
    width: 1200px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid green;
}


.profile {
    border: 1px solid rgb(10, 71, 238);
    width: 1200px;
    display: flex;
    align-items:center;
    margin: 0 auto;
    margin-bottom: 100px;
    padding-left: 30px;
}

.selfphoto {
    width: 270px;
    border-radius: 50%;
    overflow: hidden;
}

.selfphoto>img {
    width: 100%;
    vertical-align: middle;
}

.profile>.text {
    border:1px solid pink;
    padding-left: 100px;
}

.profile>.text>p.name {
    font-weight: bolder;
    color: rgb(20, 20, 20);
    line-height: 2em;
    font-size: 35px;
}

.profile>.text>p {
    color: rgb(51, 51, 51);
    line-height: 1.3em;
    font-weight: 300;
    font-size: 30px;
}

.menu {
    font-size: 25px;
    /* border:1px solid red; */
    /* margin: 0 auto; */
    margin-bottom: 100px;


}

.menu ul {
    display: flex;
    margin: 0 auto;
    /* border: 1px solid purple; */
    /* border:1px solid red; */
    width: 550px;
    /* border:1px solid red; */


}

.menu ul>li {
    margin: 0 auto;
    /* border:1px solid red; */

}

.menu ul>li>a {
    display: inline-block;
    padding: 10px 20px;
    color: #1d1d1d;
    /* margin:auto 20px; */
    position: relative;
}

.menu ul>li>a::after {
    content: '|';
    position: absolute;
    top: 8px;
    left: -18px;
}

/* 第一個 li 元素，將 ::before 設定回來需要的 */
.menu ul :nth-child(1) ::after {
    content: '';
}

/* 碰到換色 */
li.list a:hover {
    background-color: rgb(207, 12, 12);
    color: rgb(255, 255, 255);
    border-radius: 50px;
}

/*摸到a標籤連結，後面底線出現*/
li.list a:hover::before {
    width: 100%;
    height: 100%;

}

ul a:hover {
    color: rgb(129, 191, 188);
    transition: .1s;
    text-shadow: 1px 1px 0px rgba(58, 58, 58, 0.493);
}



.menu ul>li>a:hover::after {
    color: #1d1d1d;
    text-shadow: none;
}

.menu>ul.tab_list>li.list>a.-on::after {
    color: #1d1d1d;
    text-shadow: none;
}

/* 問學姊 */
/* 被選到的li */
.menu>ul.tab_list>li.list>a.-on {
    display: inline-block;
    background-color: rgb(129, 191, 188);
    color: aliceblue;
    text-shadow: 1px 1px 0px rgba(58, 58, 58, 0.493);
    border-radius: 50px;
}



.menu>ul.tab_list li.list>a.-on:hover::before {
    width: 0%;
}



.article {
    width: 1200px;
    /* width: 100px; */
    /* border:1px solid red; */
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.article>.item {
    /* border:1px solid blue; */
    margin-bottom: 120px;
    width: 380px;
    height: 534px;
    position: relative;
}

/*分隔線*/
.article>.item:nth-child(3n+3)::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.4);
    width: 1200px;
    height: 2px;
    position: absolute;
    bottom: -62px;
    left: -820px;


}

.article>.item:nth-child(1),
.article>.item:nth-child(2) {
    margin-right: 20px;
}

.article>.item>.pic {
    /* width: 380px; */
    width: 100%;
}

.article>.item>.pic a>img {
    max-width: 100%;
}

.article>.item>a.title {
    display: block;
    width: 380px;
    font-size: 25px;
    color: rgba(29, 28, 28, 0.8);
    font-weight: 500;
    padding-top: 5px;
    height: 110px;
    /* padding-bottom:31px ; */
}

.article>.item>.text {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4px;

}

.article>.item>.text>p.date {
    font-size: 22px;
}

.article>.item>.text>button {
    font-size: 22px;
}

/* 頁碼開始 */
.pagenum {
    font-size: 20px;
    margin-bottom: 100px;
}

.pagenum>ul {
    display: flex;
    margin: auto;
    justify-content: center;

}

.pagenum>ul>li {
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 0 8px;
    background-color: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    line-height: 2em;
    text-align: center;
}

.pagenum>ul>li>a {
    padding: 10px;
    color: #1d1d1d;

}

.pagenum>ul>li:first-child,
.pagenum>ul>li:last-child {
    border: none;
    background-color: rgb(247, 247, 247);
    width: 100px;
    height: 40px;
    /* border:1px solid rgba(0, 0, 0, 0.589); */

}

/* 頁碼結束 */


/* 切換的CSS */
.tab {
    display: none;
}

.tab.-on {
    display: flex;
}

/* 切換的CSS */

/* RWD開始 */
@media screen and (min-width: 905px) and (max-width: 1199px) {

    .profile {
        border: 1px solid rgb(238, 10, 135);
        max-width: 95%;
        width: 100%;
    }

    .selfphoto {
        width: 250px;
    }

    .profile>.text>p.name {
        font-size: 30px;
    }
    /* 內文 */
    .profile>.text>p {
        font-size: 26px;
    }
}
@media screen and (min-width: 556px) and (max-width: 904px){
    .profile {
        border: 1px solid rgb(10, 238, 59);
        max-width: 95%;
        width: 100%;
        flex-direction: column;
        padding-left:0px;
      
    }

    .selfphoto {
        width: 250px;
        margin-bottom: 10px;
    }
    .profile>.text {
        border:1px solid pink;
        padding-left:0px;
        text-align: center;
    }
    
    .profile>.text>p.name {
        font-weight: bolder;
        color: rgb(20, 20, 20);
        line-height: 2.2em;
        font-size: 32px;
    }
    
    .profile>.text>p {
        color: rgb(51, 51, 51);
        line-height: 1.3em;
        font-weight: 300;
        font-size: 25px;
    }
}

@media screen and (max-width: 556px){
    .profile {
        border: 1px solid rgb(238, 139, 10);
        max-width: 95%;
        width: 100%;
        flex-direction: column;
        padding-left:0px;
      
    }

    .selfphoto {
        width: 230px;
        margin-bottom: 10px;
    }
    .profile>.text {
        border:1px solid pink;
        padding-left:0px;
        text-align: center;
    }
    
    .profile>.text>p.name {
        font-weight: bolder;
        color: rgb(20, 20, 20);
        line-height: 2.2em;
        font-size: 28px;
    }
    
    .profile>.text>p {
        color: rgb(51, 51, 51);
        line-height: 1.5em;
        font-weight: 300;
        font-size: 18px;
    }
}