* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
  /* outline: .5px solid red; */

}

body {
  background-color: rgb(247, 247, 247);
}

.container {
  font-size: 0;
  width: 1200px;
  width: 100%;
  margin: 0 auto;
  /* border:1px solid green; */
}

/* 麵包屑位於哪頁 */
.breadcrumb ol.breadcrumb_list>li:nth-child(2) a {
  display: inline-block;
  border-radius: 50px;
  /* color: rgb(255, 255, 255); */
  background-color: #C6E5E1;
}


/* 資料內容開始 */
h3 {
  font-size: 30px;
  color: #343a40;
  width: 98%;
  margin: 0 auto;
  margin-bottom: 70px;
}

.content {
  font-size: 0;
  width: 98%;
  justify-content: space-between;
  /* border: 1px solid blue; */
  margin: 0 auto;
}

.content .item {
  display: flex;
  width: 98%;
  margin: 0 auto;
  /* margin-bottom: 50px; */
  /* border:1px solid blue; */
  justify-content: space-between;
  align-items: flex-start;
}

.content .item .left,
.content .item .right {
  width: 48%;
  /* border: 1px solid green; */
  box-shadow: 1px 1px 5px #ddd;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  overflow: hidden;
}

.content .item .left .pic img,
.content .item .right .pic img {
  max-width: 100%;
}

.content .item .left .text p,
.content .item .right .text p {
  font-size: 25px;
  line-height: 2em;
  /* border: 1px solid rgb(0, 255, 13); */
  padding: 0px 10px;
  font-weight: 300;
  width: 205px;
  border-bottom: 6px solid #76C5BB;
}

.content .item .left .text h4,
.content .item .right .text h4 {
  font-size: 30px;
  line-height: 2em;
  padding: 15px 20px 15px 10px;
  /* border: 1px solid rgb(89, 0, 255); */
  color: #343a40;
  font-weight: 500;
  text-align: justify;
}

.content .item .left .text h4:hover,
.content .item .right .text h4:hover {
  font-weight: 700;
}

.content .item .left .heart,
.content .item .right .heart {
  font-size: 28px;
  display: flex;
  padding: 0px 20px 20px 0px;
  /* border: 1px solid red; */
  justify-content: flex-end;
}

/* 點擊愛心變色 */
.content .item .left .heart i.active,
.content .item .right .heart i.active {
  color: rgb(255, 79, 132);
}

.content .item .left .heart i,
.content .item .right .heart i {
  color: rgb(196, 194, 194);
  padding-right: 5px;
  cursor: pointer;
}

.content .item .left .heart p,
.content .item .right .heart p {
  font-weight: 600;
}

.content .item .right {
  margin-top: 60px;
}

/* 資料內容結束 */

/* 頁碼開始 */
.pagenum {
  margin: 0 auto;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 70px;
  /* border: 1px solid rgb(255, 166, 0); */
  width: 1100px;
}

.pagenum>ul {
  display: flex;
  margin: auto;
  justify-content: center;
  /* border: 1px solid rgb(0, 255, 64); */
}

.pagenum>ul>li {
  border: 1px solid rgba(145, 143, 143, 0.5);
  margin: auto 8px;
  background-color: rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  text-align: center;
  /* border:1px solid rgb(0, 47, 255); */
  border-radius: 20px;

}

.pagenum>ul>li>a {
  color: #444343;
  display: inline-block;
  width: 100%;
  border-radius: 20px;
  padding-top: 6px;
}


.pagenum>ul>li:first-child,
.pagenum>ul>li:last-child {
  border: none;
  background-color: rgb(247, 247, 247);
  width: 100px;
  height: 40px;
  border-radius: 0px;
  /* border:1px solid rgba(0, 0, 0, 0.589); */
}


.pagenum>ul>li:hover {
  background-color: #C6E5E1;
}

.pagenum>ul>li:first-child,
.pagenum>ul>li:last-child:hover {
  background-color: rgb(247, 247, 247);
}

/* 頁碼結束 */

@media screen and (min-width: 905px) and (max-width: 1199px) {

  h3,
  .content,
  .pagenum {
    max-width: 95%;
    width: 100%;
    /* border: 1px solid red; */
  }

  /* 資料內容開始 */
  h3 {
    font-size: 28px;
    margin-bottom: 60px;
  }

  .content .item .left .text p,
  .content .item .right .text p {
    font-size: 20px;
    width: 170px;
    border-bottom: 4px solid #76C5BB;
  }

  .content .item .left .text h4,
  .content .item .right .text h4 {
    font-size: 23px;
    line-height: 1.5em;
    padding: 10px 20px 20px 10px;
    /* border: 1px solid rgb(89, 0, 255); */
    color: #343a40;
    font-weight: 500;
  }

  .content .item .left .heart,
  .content .item .right .heart {
    font-size: 25px;
    display: flex;
    padding: 0px 20px 20px 0px;
    /* border: 1px solid red; */
    justify-content: flex-end;
  }

}

@media screen and (min-width: 688px) and (max-width: 904px) {

  h3,
  .content,
  .pagenum {
    max-width: 95%;
    width: 100%;
    /* border: 1px solid rgb(55, 0, 255); */
  }

  /* 資料內容開始 */
  h3 {
    font-size: 26px;
    margin-bottom: 60px;
  }

  .content .item {
    justify-content: space-around;
  }

  .content .item .left,
  .content .item .right {
    width: 45%;
  }


  .content .item .left .text p,
  .content .item .right .text p {
    font-size: 17px;
    width: 160px;
    border-bottom: 3px solid #76C5BB;
  }

  .content .item .left .text h4,
  .content .item .right .text h4 {
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 500;
  }

  .content .item .left .heart,
  .content .item .right .heart {
    font-size: 20px;
    display: flex;
    padding: 0px 20px 15px 0px;
    /* border: 1px solid red; */
    justify-content: flex-end;
  }


  /* 頁碼開始 */
  .pagenum {
    margin-bottom: 60px;
  }

  .pagenum>ul {
    display: flex;
    margin: auto;
    justify-content: center;
    /* border: 1px solid rgb(0, 255, 64); */

  }

  .pagenum>ul>li {
    border: 1px solid rgba(145, 143, 143, 0.5);
    margin: auto 8px;
    background-color: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    text-align: center;
    /* border:1px solid rgb(0, 47, 255); */
    border-radius: 20px;
  }

  .pagenum>ul>li:nth-child(7),
  .pagenum>ul>li:nth-child(8),
  .pagenum>ul>li:nth-child(9),
  .pagenum>ul>li:nth-child(10),
  .pagenum>ul>li:nth-child(11) {
    display: none;
  }

  /* 頁碼結束 */
}

@media screen and (min-width: 556px) and (max-width: 688px) {

  h3,
  .content,
  .pagenum {
    max-width: 95%;
    width: 100%;
    /* border: 1px solid rgb(61, 216, 14); */
  }

  /* 資料內容開始 */
  h3 {
    font-size: 22px;
    margin-bottom: 60px;
  }

  .content .item {
    justify-content: center;
    flex-direction: column;
  }

  .content .item .left {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 85%;
  }

  .content .item .right {
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 50px;
    width: 85%;
  }

  .content .item .left .text p,
  .content .item .right .text p {
    font-size: 20px;
    border-bottom: 4px solid #76C5BB;
  }

  .content .item .left .text h4,
  .content .item .right .text h4 {
    font-size: 25px;
  }

  .content .item .left .heart,
  .content .item .right .heart {
    font-size: 25px;
  }


  /* 頁碼開始 */
  .pagenum {
    margin-bottom: 60px;
    margin-top: 30px;
  }

  .pagenum>ul {
    display: flex;
    margin: auto;
    justify-content: center;
    /* border: 1px solid rgb(0, 255, 64); */

  }

  .pagenum>ul>li {
    border: 1px solid rgba(145, 143, 143, 0.5);
    margin: auto 8px;
    background-color: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    text-align: center;
    /* border:1px solid rgb(0, 47, 255); */
    border-radius: 20px;
  }

  .pagenum>ul>li:nth-child(7),
  .pagenum>ul>li:nth-child(8),
  .pagenum>ul>li:nth-child(9),
  .pagenum>ul>li:nth-child(10),
  .pagenum>ul>li:nth-child(11) {
    display: none;
  }


}

@media screen and (max-width: 556px) {

  h3,
  .content,
  .pagenum {
    max-width: 95%;
    width: 100%;
    /* border: 1px solid rgb(196, 27, 230); */
  }

  /* 資料內容開始 */
  h3 {
    font-size: 20px;
    margin-bottom: 40px;
  }

  .content .item {
    justify-content: center;
    flex-direction: column;
  }

  .content .item .left {
    margin: 0 auto;
    margin-bottom: 40px;
    width: 85%;
  }

  .content .item .right {
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 40px;
    width: 85%;
  }

  .content .item .left .text p,
  .content .item .right .text p {
    font-size: 16px;
    width: 140px;
    border-bottom: 3px solid #76C5BB;
  }

  .content .item .left .text h4,
  .content .item .right .text h4 {
    font-size: 20px;
    line-height: 1.5em;
    padding: 10px 20px 10px 10px;

  }

  .content .item .left .heart,
  .content .item .right .heart {
    font-size: 20px;
    padding: 0px 20px 10px 0px;

  }


  /* 頁碼開始 */
  .pagenum {
    margin-bottom: 50px;
    font-size: 12px;
    /* border: 1px solid rgb(255, 115, 0); */
    margin-top: 0px;

  }

  .pagenum>ul {
    display: flex;
    margin: auto;
    justify-content: center;
    /* border: 1px solid rgb(0, 255, 64); */

  }

  .pagenum>ul>li {
    width: 30px;
    height: 30px;
    margin: auto 3px;

  }

  .pagenum>ul>li>a {
    color: #444343;
    display: inline-block;
    width: 100%;
    border-radius: 20px;
    padding-top: 6px;
  }

  .pagenum>ul>li:first-child,
  .pagenum>ul>li:last-child {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 0px;

  }

  .pagenum>ul>li:first-child a,
  .pagenum>ul>li:last-child a {
    /* color: red; */
    line-height: 30px;
  }

  .pagenum>ul>li:nth-child(7),
  .pagenum>ul>li:nth-child(8),
  .pagenum>ul>li:nth-child(9),
  .pagenum>ul>li:nth-child(10),
  .pagenum>ul>li:nth-child(11) {
    display: none;
  }

  /* 頁碼結束 */
}